/program.ansi.E
/program.ATFILE_SOURCE.E
/program.default.E
/program.FILE_OFFSET_BITS.E
/program.FORTIFY_SOURCE=1.E
/program.FORTIFY_SOURCE=2.E
/program.GNU_SOURCE.E
/program.ISOC11_SOURCE.E
/program.ISOC99_SOURCE.E
/program.LARGEFILE64_SOURCE.E
/program.LARGEFILE_SOURCE.E
/program.POSIX_C_SOURCE=199309L.E
/program.POSIX_C_SOURCE=199506L.E
/program.POSIX_C_SOURCE=1.E
/program.POSIX_C_SOURCE=200112L.E
/program.POSIX_C_SOURCE=200809L.E
/program.POSIX_C_SOURCE=2.E
/program.POSIX_SOURCE.E
/program.STDC_WANT_IEC_60559_BFP_EXT.E
/program.STDC_WANT_IEC_60559_FUNCS_EXT.E
/program.STDC_WANT_IEC_60559_TYPES_EXT.E
/program.STDC_WANT_LIB_EXT2.E
/program.XOPEN_SOURCE.E
/program.XOPEN_SOURCE_EXTENDED.E
